n8n/couva-lead-workflow.json
{
  "name": "COUVA 6x6 - Captacion de leads (landing)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "couva-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "43699e0e-d0db-4f1f-8ca8-1826483ced25"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst b = ($json.body) ? $json.body : $json;\nconst honeypot = String(b.company || '').trim();\nconst email = String(b.email || '').trim();\nconst form = b.form || 'lead';\nconst isReferral = form === 'referral';\nconst isConfig = form === 'configurador';\nconst isDownload = form === 'descarga';\nconst table = isReferral ? 'referidos' : 'leads';\nconst skip = honeypot.length > 0 || !email;\n\nlet record;\nif (isReferral) {\n  record = {\n    nombre: b.nombre || null, email: email, telefono: b.telefono || null,\n    tipo: b.tipo || null, zona: b.zona || null, mensaje: b.mensaje || null,\n    idioma: b.idioma || 'es', utm_source: b.utm_source || null,\n    utm_campaign: b.utm_campaign || null, consentimiento: !!b.consentimiento,\n  };\n} else if (isConfig) {\n  record = {\n    nombre: b.nombre || null, email: email, telefono: b.telefono || null,\n    idioma: b.idioma || 'es', tipo_interes: b.uso_proyecto || null, cta: 'configurador',\n    uso_proyecto: b.uso_proyecto || null, tipo_terreno: b.tipo_terreno || null,\n    requerimientos: b.requerimientos || null, mensaje: b.requerimientos || null,\n    utm_source: b.utm_source || null, utm_medium: b.utm_medium || null,\n    utm_campaign: b.utm_campaign || null, utm_content: b.utm_content || null,\n    utm_term: b.utm_term || null, referrer: b.referrer || null,\n    landing_path: b.landing_path || null, consentimiento: !!b.consentimiento,\n  };\n} else if (isDownload) {\n  record = {\n    nombre: b.nombre || null, email: email, telefono: b.telefono || null,\n    idioma: b.idioma || 'es', tipo_interes: 'descarga', cta: 'descarga_catalogo',\n    mensaje: 'Descargo el catalogo tecnico (PDF)',\n    utm_source: b.utm_source || null, utm_medium: b.utm_medium || null,\n    utm_campaign: b.utm_campaign || null, utm_content: b.utm_content || null,\n    utm_term: b.utm_term || null, referrer: b.referrer || null,\n    landing_path: b.landing_path || null, consentimiento: !!b.consentimiento,\n  };\n} else {\n  record = {\n    nombre: b.nombre || null, email: email, telefono: b.telefono || null,\n    idioma: b.idioma || 'es', tipo_interes: b.tipo_interes || null,\n    cta: b.cta || 'lead_form', mensaje: b.mensaje || null,\n    utm_source: b.utm_source || null, utm_medium: b.utm_medium || null,\n    utm_campaign: b.utm_campaign || null, utm_content: b.utm_content || null,\n    utm_term: b.utm_term || null, referrer: b.referrer || null,\n    landing_path: b.landing_path || null, consentimiento: !!b.consentimiento,\n  };\n}\n\nlet titulo = '🔥 Nuevo LEAD COUVA 6x6';\nif (isReferral) titulo = '🤝 Nuevo SOCIO referidor';\nelse if (isConfig) titulo = '🏗️ Nuevo CONFIGURADOR (proyecto a medida)';\nelse if (isDownload) titulo = '📄 Nueva DESCARGA de catalogo';\nconst asunto = titulo + ' - ' + (b.nombre || 'sin nombre');\nconst cuerpo = Object.entries(record).map(function(e){return e[0] + ': ' + (e[1] == null ? '' : e[1]);}).join('\\n');\nreturn { table: table, record: record, skip: skip, asunto: asunto, cuerpo: cuerpo, isReferral: isReferral };\n"
      },
      "id": "Preparar_datos",
      "name": "Preparar datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "Es_spam?",
      "name": "Es spam?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://aekdukfjftzbbrixuqbk.supabase.co/rest/v1/{{ $json.table }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable__QHR3TiiXE5i4ECjTMFkSA_uWrAV8F0"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable__QHR3TiiXE5i4ECjTMFkSA_uWrAV8F0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.record) }}",
        "options": {}
      },
      "id": "Guardar_en_Supabase",
      "name": "Guardar en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        400
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "oscaromargp@gmail.com",
        "subject": "={{ $('Preparar datos').item.json.asunto }}",
        "emailType": "text",
        "message": "={{ $('Preparar datos').item.json.cuerpo }}",
        "options": {}
      },
      "id": "Notificar_por_Gmail",
      "name": "Notificar por Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "qh3rFQHo55ineVN3",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "Responder_OK",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1020,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst p = $('Preparar datos').item.json;\nconst r = p.record || {};\nreturn {\n  fecha: new Date().toISOString(),\n  formulario: p.isReferral ? 'referido' : 'lead',\n  nombre: r.nombre || '',\n  email: r.email || '',\n  telefono: r.telefono || '',\n  detalle: p.isReferral ? (r.tipo || '') : (r.tipo_interes || ''),\n  mensaje: r.mensaje || '',\n  idioma: r.idioma || '',\n  utm_source: r.utm_source || '',\n  utm_campaign: r.utm_campaign || '',\n};\n"
      },
      "id": "Fila_Sheets",
      "name": "Fila para Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        560
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1P9czjwre4o9dc6KyMo-etTUvhiukSeQu35JvGRuzXmA"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "Guardar_Sheet",
      "name": "Guardar en Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1240,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AFr9Hswjjok1WkwV",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "824834383",
        "text": "={{ $('Preparar datos').item.json.asunto + '\\n\\n' + $('Preparar datos').item.json.cuerpo }}",
        "additionalFields": {}
      },
      "id": "Alerta_Telegram",
      "name": "Alerta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1240,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "XTJIcUiWip8C3lTq",
          "name": "COUVA Telegram Bot"
        }
      },
      "onError": "continueRegularOutput",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos": {
      "main": [
        [
          {
            "node": "Es spam?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es spam?": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Supabase": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notificar por Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fila para Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alerta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fila para Sheet": {
      "main": [
        [
          {
            "node": "Guardar en Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}